[2013-01-07 18:43] non opened #1 "Backport fixes and features from BlueEyes"
Since the new BlueEyes JSON parser was pulled from Jawn, we should be able to claw these features and fixes back for our own use!

[2014-05-01 13:49] g-eorge opened #2 "Depending on the jawn sbt project from another sbt project fails"
Build.scala

[code]

Error

[code]

[2014-07-15 14:21] #1 closed, assigned to nobody

[2014-07-15 14:22] #2 closed, assigned to nobody

[2014-07-18 13:05] longliveenduro opened #4 "Using Jawn with Spray doesn't keep sorting of json arrays"
Jawn does not keep the sorting of the json array when parsing it into an JsValue.

Figured it out while parsing https://gist.github.com/breadfan/cbbdbedbeff9046b8d1a

We simply do this in our android app:

[code]

[2014-07-18 13:58] #4 closed, assigned to nobody

[2014-07-22 00:15] rossabaker opened #6 "Facade for serialization of supported ASTs?"
Escalating [Twitter discussion](https://twitter.com/rossabaker/status/491274369545412608) discussion beyond 140 characters:

I created [jawn-streamz](https://github.com/rossabaker/jawn-streamz) for parsing scalaz-streams of ByteVectors to any Jawn-supported JSON AST.  I think it could make a good Jawn module, but I also have the use case of serializing JSON back to ByteVectors.  It would be splend

[2014-08-12 07:21] lihaoyi opened #7 "Jawn doesn't blow up on some invalid inputs"
In particular, these cases do not cause jawn to throw an exception:

[code]

[code]

[code]

[code]

[code]

Whereas they're meant to blow up AFAICT. They blow up correctly in Node.js' `JSON.parse`

These invalid inputs are taken from http://www.json.org/JSON_checker/. Among those listed, there are others which do not blow up, but these are the ones which blow up in Node.js' and do not blow up in

[2014-08-12 19:41] #7 closed, assigned to nobody

[2014-09-09 23:11] lihaoyi opened #8 "Any chance of publishing to maven central?"
I'm using jawn in a number of projects, and it's exceedingly difficult to remember to add the custom resolver. This is especially true because once cached in your `.ivy/cached` folder, the custom resolver is thereafter unnecessary for your computer but still necessary for other people on other computers without it cached.

As it result, it has come up over and over
- https://github.com/lihaoyi/aut

[2014-09-23 20:25] #8 closed, assigned to nobody

[2014-10-18 09:47] lihaoyi opened #12 "Round-trip render-parsing unicode string gives exhausted input?"
[code]

First reported [here](https://github.com/lihaoyi/upickle/issues/35). I'm not sure if this is a bug or some misunderstanding in how JSON/Unicode works, but presumably anything you stuff into a JSString should be able to survive a round trip right?

[2014-10-19 05:00] #12 closed, assigned to nobody

[2014-11-17 14:43] agourlay opened #13 "Parsing germanic umlaut"
I am editing my issue as I found the actual problem and it has nothing to do with the previous entry.

The real problem is that Jawn seems unable to parse germanic umlaut, in that case the content is just discarded.

Is it a normal behaviour?

Thx!

Just in case, I have a test case for the problem

https://github.com/agourlay/jawn-umlaut-issue
https://travis-ci.org/agourlay/jawn-umlaut-issue/jobs/

[2014-11-18 14:13] #13 closed, assigned to nobody

[2014-11-19 16:19] xuwei-k opened #14 "missing tag 0.6.0 and 0.7.0"

[2014-11-19 16:59] #14 closed, assigned to nobody

[2014-11-23 12:03] xuwei-k opened #15 "equals implemented without hashCode in some JValue classes"
does not satisfy the law

[2014-11-23 17:40] #15 closed, assigned to nobody

[2014-12-03 17:02] propensive opened #18 "Different decimal expansions of DeferNums are not considered equal"
For example, "1", "1.0" and "1.00" are all considered different values. They should be the same.

[2014-12-03 17:48] #18 closed, assigned to nobody

[2014-12-13 19:01] agourlay opened #20 "Async parser memory consumption"
I am exploring the capacity of the async. parser and I think that the current implementation does not  properly release its memory.

My current use case requires parsing rather long Stream[String] containing JSON objects and I can see that the Heap usage just keeps on increasing until it eventually blows up.

I have created a project to reproduce the issue https://github.com/agourlay/jawn-heap
- p

[2014-12-13 21:14] #20 closed, assigned to nobody

[2014-12-15 16:27] megri opened #21 "benchmark: spray-scalastuff crashes on bla2.json"
Commenting out line 231 in AdHocBenchmarks.scala lets the other benchmarks run

[2014-12-30 16:02] rossabaker opened #22 "ClassCastException on Argonaut 6.1-M5"
Jawn is on argonaut-6.0.4, which is Scalaz 7.0.  http4s uses argonaut-6.1-M5, which is a necessary upgrade for Scalaz 7.1.  [Hilarity ensues](https://github.com/http4s/http4s/issues/157).

I see three ways out:
1. Upgrade jawn to argonaut-6.1-M5 now.  6.0 users lose.
2. Publish two argonaut-support libraries under the jawn umbrella.  Everyone is confused, but has a path to happiness.
3. I publish

[2014-12-30 21:09] #22 closed, assigned to nobody

[2015-02-11 15:03] non opened #26 "Faster whitespace detection"
At nescala Matthias suggested there was a faster way to check for possible whitespace characters using bitwise logic. We should look into that.

[2015-02-11 18:36] softprops commented on #26
fancy

[2015-02-11 19:36] propensive commented on #26
Did he explain it to you? He talked me through it - it's simple, cunning and opportunistic. :)

[2015-02-11 20:19] non commented on #26
I don't remember exactly how it worked. I will try to reverse engineer it (or ask him) later.

[2015-02-11 21:25] propensive commented on #26
The basic idea, IIRC, was that because all the whitespace characters are low in the ASCII table, you can shift 1.byte left by each byte, AND it with a bitmask containing a few strategically-placed 1s, and if the answer is nonzero, then it's whitespace. I forget how much of a saving this was, but Matthias had worked out exactly what the difference was at the machine level, and it saved a tiny amoun

[2015-02-11 21:41] non commented on #26
@propensive If you can a link to some cod that does this I'd be appreciative.

My instinct was first to just try an initial `c <= 32` test to find any potential whitespace candidate (since any char that is 32 or less is either whitespace or illegal).

[2015-02-11 22:22] propensive commented on #26
I don't remember exactly -- I only saw the code on his computer, but recollection is that it was something like this:
[code]
where I calculated that magic number from `List('\n', '\r', ' ', '\t').map(1L << _).sum`.

Though do you need it to fail fast? Could you do the shift (as above), and OR the result from each byte into an accumulator which you check once at the end of parsing, something like t

[2015-04-29 14:09] mslinn opened #30 "Play-Json Interop Example"
Is there an example of using Jawn with Play Framework 2? For example, obtaining `play.api.libs.json.JsValue` from a request body, and doing something with it using Jawn:

[code]

[2015-05-27 06:57] non opened #32 "Make JObject and JArray immutable"
Currently (and historically) `JObject` and `JArray` are mutable. They are case classes wrapping mutable data structures.

@ijuma wisely points out that this is maybe not the best for folks who want to use long-lived `JObject` instances, and suggests it would be nice to make the types safer.

Here are some possible scenarios (from least to most safe):

(I) Types are constructed with mutable collect

[2015-05-27 08:07] ijuma commented on #32
(II) is good for me too.

[2015-05-27 18:32] xuwei-k opened #33 "should not depends on jmh"
http://repo1.maven.org/maven2/org/spire-math/jawn-ast_2.11/0.8.0/jawn-ast_2.11-0.8.0.pom

[code]

[2015-05-27 18:41] non commented on #33
Argh! Good catch, sorry!

I think there will be a quick 0.8.1 release where I can fix this.

[2015-05-27 18:42] non commented on #32
Great. I'll try to make this change and release it, probably as 0.9.0 due to the API change.

[2015-05-28 08:48] ijuma opened #34 "JValue.asInt/getInt methods"
It would be handy to have convenience methods for retrieving a number as an Int (quite a common need). This is easily done as an extension method, so I understand if you don't think it should be part of the AST, but I thought I'd bring it up for discussion.

[2015-05-28 10:09] ijuma commented on #32
While you look at this, I think it may be worth thinking about how users will iterate over the fields of a JObject or the elements of an array.

Unless I missed something, the way to do that currently is to use pattern matching in order to get access to the mutable `vs`. In the new version, one would have access via getters only. This works, but it's a bit verbose. What are your thoughts regarding

[2015-05-28 15:28] non commented on #32
I do want to keep things simple. I'm imagining implementing a few methods like `.iterator`, `.size`,

[2015-05-28 15:28] non commented on #32
(Accidentally mis-clicked and closed the issues temporarily.)

[2015-05-28 15:32] non commented on #34
I'll probably go ahead and add it. Thanks for the comment.

[2015-06-05 04:40] non commented on #32
So, after a bit of thought, I think I will add the following methods to `JValue`:

[code]

How does this sound @ijuma?

[2015-06-05 04:45] non commented on #32
Oh, and I might also add:

[code]

Since a lot of the API returns `JNull` as a failure case, I think this would be very useful.

[2015-06-07 21:58] ijuma commented on #32
Sounds good to me (including `orElse`).

[2015-06-29 02:45] virtualirfan commented on #30
+1

[2015-06-29 03:26] non commented on #30
Sorry for the delayed response, I saw this but forgot to get back to it.

The short answer is: not that I know of. Currently most people I know using Jawn are using the parser. I don't have great support from translating a different AST (e.g. play's) into Jawn's AST.

What sort of AST operations are you interested in? Most of the features that make Jawn special (e.g. async parsing) happen when goi

[2015-06-29 03:44] mslinn commented on #30
So there is no use case.

[2015-06-29 03:44] #30 closed

[2015-07-01 16:44] jdegoes commented on #33
@non This is quite important as JMH is GPL 2 licensed and is only used for the benchmark. Any word on when a fix might be available?

[2015-07-23 10:48] ghost opened #38 "Add Scala.js support"
For extra points, please refer to Reference https://gitter.im/non/jawn?at=55a7ae4de881cbd76356e350 Summary:

[2015-07-28 16:24] non opened #39 "Speed up ByteBuffer parsing"
This is relatively slow for some reason. Figure out why!

[2015-07-28 16:38] non commented on #33
Sorry! This should be fixed in 0.8.3. It took me awhile to figure out how to prevent [sbt-jmh](https://github.com/ktoso/sbt-jmh) from adding this dependency everywhere.

[2015-07-28 16:39] non opened #40 "Steal parsing strategies from sirthias"
There are some smart strategies here:

https://github.com/sirthias/benchmarks/blob/master/src/main/scala/benchmarks/json/ArrayBasedAstParser.scala

We should steal some of them.

[2015-07-28 16:41] non commented on #21
I've removed this parser, so I'm going to close this issue for now. Thanks for catching it.

[2015-07-28 16:41] #21 closed

[2015-07-28 16:52] #33 closed

[2015-09-04 21:52] drbild opened #41 "jawn-play for Play 2.4.x"
Are there plans to support Play 2.4.x?

Play's `JsObject` constructor parameter changed from a `Seq` to a `Map` (the `Seq` version is now on the companion object). `jawn` is compiled for the old version, leading to `MethodNotFound` exceptions.

[2015-09-04 23:35] non commented on #41
@drbild It should be very easy to update. If you'd like to provide a PR, I'd be happy to merge it. Otherwise I'll get to it sometime soon. In any case, thanks for the heads-up. I rely on other people to let me know when the third-party library support needs updating. :wink:

[2015-09-04 23:42] drbild commented on #41
Ok, I'll submit a PR.  It's just updating the dependency and recompiling.  No change to jawn code.

The published jars will no longer be compatible with Play 2.3.x.  I don't know if that's a concern.

[2015-09-04 23:59] non commented on #41
I mostly just support whatever the current stable version seems to be. The compat projects are quite small, so if someone needs a specific version which is not supported they can either use an older version of Jawn or roll their own `Facade[J]` instance.

[2015-09-05 00:58] #41 closed

[2015-11-21 22:24] mdedetrich opened #44 "Use scala-offheap for performance"
Not sure how applicable this is to Jawn, but should we look at using https://github.com/densh/scala-offheap to both improve the performance (but more importantly the latency/memory characteristics) of the parser?

[2015-12-11 13:52] julien-truffaut opened #45 "Special character stripped away in String containing double quotes"
I recently encountered an issue where `£` would be stripped away from json string when the string also contains a `"`. Here is a relatively small test using argonaut facade:

[code]

[2015-12-11 15:55] bmjames commented on #45
The cause appears to me to be a bug in `CharBuilder`, which is used by `ByteBasedParser` on a code path only taken when there are escaped characters (such as `\"`) in the string. A multibyte character (such as `£`) is appended to the builder using the `extend` method, which does not seem to update the `len` pointer, hence it will be overwritten by the next character.

The patch in 38f5f1f537 fixes

[2016-01-13 15:14] julien-truffaut commented on #45
@non when you get some time, would you mind to have a look at @bmjames PR?

[2016-02-02 19:39] travisbrown opened #47 "Number parsing doesn't match the spec"
`".1"` is correctly rejected, but `"-.1"` gets parsed successfully:

[code]

I wanted to confirm that this is a bug and not intentional before I start looking into why it happens.

[2016-02-09 17:12] rossabaker commented on #45
I can confirm that this is the villain in http4s/http4s#514.

[2016-02-17 18:48] #45 closed

[2016-02-17 19:31] non commented on #47
This is definitely a bug -- I'll try to take a look and figure out what is going on.

[2016-02-19 18:36] #47 closed

[2016-02-22 19:07] rossabaker opened #49 "Argonaut 6.2: where should it go?"
Argonaut 6.2-M1 has been released.  A facade should be trivial enough, but where does it go?

* Here, alongside 6.1 support?
* Here, in replacement of 6.1 support?
* Argonaut?
* A third-party glue microlibrary?

[2016-02-28 13:13] martez81 opened #50 "How does one convert JSON object with list into something iterable?"
I know I can access each indexing e.g. `.get(0)` but how do I iterate over it?
[code]

[2016-03-06 23:54] non commented on #49
Hi @rossabaker I had missed this issue somehow.

I'm assuming 6.2 is different enough that it would not be a compatible change to update *jawn-argonaut*? I'm happy to move the old facade to *jawn-argonaut-pre62* or to release the new one as *jawn-argonaut62* for now and change their names later.

If Argonaut wants to distribute the facades that makes my life a bit easier, but I don't have a sense

[2016-03-06 23:58] non commented on #50
Hi @martez81 -- sorry I missed this!

I am planning on adding support for this in a new version, but currently you can just do something like this:

[code]

The `vs` member is an `Array[JValue]` and should allow you to use Scala collection methods.

[2016-03-07 16:19] rossabaker commented on #49
It's source compatible, but binary incompatible, for Jawn's needs.  I scratched my itch by copying it into http4s, but that's not the right long term solution.

For tiny glue modules like this, it's nice when they live in the faster evolving library.  That's Argonaut in this case.  I'll see if Argonaut would welcome a pull request.

[2016-03-11 15:59] martez81 commented on #50
Ahh this is all I really need thanks!

[2016-03-12 01:58] martez81 commented on #50
Sorry, just tried this and `list.get("stuff")` returns `JValue` and there is no `vs` member :(

Here's exactly how I use it
[code]

and json contents
[code]

using version 0.8.3

[2016-03-25 06:19] rossabaker commented on #49
Solved by argonaut-io/argonaut#219.

[2016-03-25 06:19] #49 closed

[2016-05-19 18:03] mdedetrich opened #52 "Add Support for Play Json 2.5"
Add support for Play 2.5

I will make a pull request for this, as it should be just a single bump of a version

[2016-09-07 15:35] non opened #57 "Introduce sbt-doge but keep sbt-release working"
I want to introduce sbt-doge. We will need it to add support for 2.12.0-RC1, and also so we can start dropping 2.10 from our support projects as their respective JSON libraries drop 2.10 support.

However, it doesn't work out-of-the-box with sbt-release.

@eed3si9n pointed me at the [play build](https://github.com/playframework/playframework/blob/master/framework/project/Release.scala) which seems

[2016-09-22 18:09] jeffreyolchovy commented on #57
If you haven't begun work on this, I can take a look at it this coming weekend. We are solving the sbt-release + sbt-doge integration issue at Tapad for a number of internal projects that contain both a library and a plugin. We use both plugins (doge and release) successfully in isolation and are now pained with an extra manual step when a project needs to include both.

[2016-09-22 18:44] dwijnand commented on #57
Have a look at https://github.com/dwijnand/releash where I tried to figure this out.

@eed3si9n recommends the best way is to copy the implementation of sbt-doge into sbt-release and use its mechanism of aggregating projects over sbt's way.

[2016-09-25 21:28] #57 closed

[2016-09-26 04:53] non commented on #52
Fixed as of release 0.10.0.

[2016-09-26 04:53] #52 closed

[2016-10-27 21:38] fadeddata opened #62 "json4s Facade maps int to JDouble"
This seems to be incorrect to me.

https://github.com/non/jawn/blob/1346dca2725e41f2b2672363e5b19c2a8ba39d7a/support/json4s/src/main/scala/Parser.scala#L15

Should it not be:

[code]

[2016-10-27 21:45] non commented on #62
Yes, good catch! Maybe I didn't realize that `JInt` existed when I wrote that.

Feel like submitting a PR? If not I can fix this later tonight.

[2016-11-01 14:06] tapmania commented on #34
On a related note, should we also have an IntNum case class?

[2016-11-01 14:24] non commented on #34
@tapmania I think using `LongNum` and truncating it is fine. I'd rather not have more subclasses than necessary.

[2016-11-01 20:35] tapmania commented on #34
I have a PR out for this. Please have a look: https://github.com/non/jawn/pull/63

[2016-11-04 04:16] non opened #65 "Update support library versions"
When we update to 0.11.0 we should bump the following library versions:

 * Play-JSON: 2.5.9
 * Rojoma-V3: 3.7.0
 * json4s: 3.5.0

(I will add to this list as new versions are discovered.)

We should also consider dropping Rojoma v2 and standardizing on Rojomva v3.

[2016-11-04 16:24] tapmania commented on #62
@non Here is the PR: https://github.com/non/jawn/pull/66

[2016-11-04 18:03] non commented on #62
Thanks for the PR!

[2016-11-04 18:03] #62 closed

[2016-11-04 21:00] tapmania commented on #50
@non will adding an **asIterable** in **JValue** and implementing it in **JArray** and **JObject** the right approach?

[2016-11-05 16:29] rossabaker commented on #65
json4s-3.5.0 is coming soon.

[2016-11-13 07:15] non commented on #65
Fixed in 0.10.4.

[2016-11-13 07:15] #65 closed

[2016-11-28 14:38] tapmania commented on #50
I have a PR out, please have a look: https://github.com/non/jawn/pull/68

[2016-12-08 20:33] mxl opened #69 "json4s Long support"
Could we change `JInt` to `JLong` at [this line](https://github.com/non/jawn/blob/master/support/json4s/src/main/scala/Parser.scala#L15) ?

jawn is not parsing big integers and crashing with:
[code]

[2016-12-09 00:20] #69 closed

[2017-01-25 19:03] non opened #71 "Add JParser examples to the README"
These are currently missing

[2017-04-26 11:45] LiShuMing opened #72 "Parser.parseNum() no support `Long` type number?"
@non  when I use jawn lib, some error happens below:

[info]   at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
[info]   at java.lang.Integer.parseInt(Integer.java:583)
[info]   at java.lang.Integer.parseInt(Integer.java:615)
[info]   at jawn.support.json4s.Parser$$anon$1.jint(Parser.scala:15)
[info]   at jawn.support.json4s.Parser$$anon$1.jint(Parser.scala:10)
[inf

[2017-04-26 12:51] LiShuMing commented on #72
oh , I found a solution in support folder, just chage false to true, solve problems above.

thx, any more.

package support.json4s

import scala.collection.mutable
import org.json4s.JsonAST._

* object Parser extends Parser(true, true) *

[2017-06-29 11:56] mdedetrich opened #89 "Integration with scala-json AST"
After the results of SLIP-28/scala contributors, the ScalaJSON AST has finally been put into the scala platform (see https://github.com/mdedetrich/scalajson for more details). Currently its a `1.0.0-M1` release however a full release is expected in a few days if there are no major issues).

This ticket is to describe integration with Jawn, and how it would possibly work. A really ideal situation w

[2017-07-05 09:35] tlossen opened #91 "benchmark/run fails with 6 errors"
i tried to run the benchmarks after a clean checkout of the project, but compilation fails.

[code]

maybe some dependency missing?

(scala version: 2.12.2)

[2017-07-25 14:49] bmontuelle opened #94 "Support for play 2.6 using scala 2.11"
#90 Added support for play 2.6
Unfortunately, my project still has a lot of dependencies available for scala 2.11, thus I'm sticking with the 2.11 version of Play

If I add depdendency to `"org.spire-math"           %% "jawn-play"                 % "0.11.0"`
the play-json 2.5.15 dep gets evicted (its defined to 2.6.1 in my dependencies)

If I use `"org.spire-math"           % "jawn-play_2.12"

[2017-08-24 05:27] steinybot opened #95 "How to do stream parsing?"
I have tried to use the `AsyncParser` but I couldn't figure out how to get anything out other than a single `jsobject` as defined by my AST (in this case Play JSON).

Assume I have something like:
[code]

How can I get it so that each call to `absorb` will return zero or more elements?

[2017-10-18 15:38] jan-xyz commented on #50
I had a similar problem.

I got hold of the problem by finding out that the object I got was already a `JArray`. However, I used it like a `JValue`. `JValue` doesn't have a `vs` as @martez81 mentioned above. `JArray` on the other hand does have an attribute `vs`.

I managed to use the JSON array by converting it to such:

[code]

[2017-12-04 19:43] gchauvet commented on #95
Hi,

I'm facing to the same usecase... I will glad to know how you resolved it :)
Regards

[2017-12-21 11:39] dwijnand opened #97 "Release for Scala 2.13"
https://github.com/non/jawn/pull/86 added support for 2.13.0-M1, but it doesn't look like a 2.13 version of jawn was released: http://repo1.maven.org/maven2/org/spire-math/ (also 2.13.0-M2 is out)

[2018-01-31 21:53] SethTisue commented on #97
Scala 2.13.0-M3 is now out.

[2018-03-01 17:58] lihaoyi opened #101 "Expose current parse index in jawn.Facade"
I need this in order to implement a one-pass parse-to-data-type flow in uPickle. Since parsing to a data-type can fail even if the JSON is valid, due to it being the wrong thing (e.g. got-array-expected-dict or got-string-expected-int) I need the current index exposed in the Facade's callback functions in order to throw error messages with the correct position info

[2018-03-31 19:47] #101 closed

[2018-03-31 20:55] non commented on #97
Just released 0.12.1 with 2.13.0-M3 support.

[2018-03-31 20:55] #97 closed

[2018-04-26 17:50] lihaoyi commented on #6
For the record I ended up forking Jawn into [uJson](http://www.lihaoyi.com/upickle/#uJson), which has support for serializing every AST supported by jawn via the Facade interface (renamed to Visitor)

[2018-06-15 14:31] devlaam opened #107 "Allowing comments"
Hi Erik,

Very nice piece of work indeed!

Recently i changed from play to your parser for my home brew json operator lib. Because I have quite a lot if "comments" in my json i forked your lib, and wanted to extend it so it can spit out comments or at least skip them. Due to the clarity of your code this is rather easy to do.

I have a question about one design decision you made though. You differ

[2018-06-19 00:07] non commented on #107
@devlaam Keeping `parseStringSimple` as simple as possible does make a big difference, so adding an `if` there is not something I'd want to do.

However, your comment gave me an idea: instead of just using `-1` to signal failure, we could use `-1` through `Int.MinValue` to specify exactly how far we got. That would mean we could quickly add all that data to the builder without having to check it,

[2018-06-19 00:10] non commented on #107
`java.util.Arrays.binarySearch` uses a similar trick: https://docs.oracle.com/javase/7/docs/api/java/util/Arrays.html#binarySearch(byte[],%20byte)

[2018-06-19 20:20] devlaam commented on #107
Nice! Glad to be of service. In the mean time i forked your repro and made the adjustments for my use case. As speed is not my most importent goal i made a few changes as well and integrated the methods Simple/Complex into one method. A pull request seems to make less sense given the spirit of the answer you gave above, but i thought i'dd publish it anyway. Maybe others have similar use cases.

[2018-07-19 09:12] lukaszwawrzyk opened #109 "File left open when parsing as string"
This method in `jawn.ChannelParser`

[code]
For the string parser case, opens input stream, reads the data but never closes it. That leaves file open and can cause problems (it did cause problems for me on windows).

This is just one line to fix, I will try to submit a PR.

[2018-07-23 15:54] #109 closed

[2018-08-20 19:56] xerial commented on #39
@non A reason why ByteBuffer in JVM is slow is it generates TypeProfile https://wiki.openjdk.java.net/display/HotSpot/TypeProfile to resolve a single method from many ByteBuffer sub classes in Java standard libraries. So each ByteBuffer.get(i) call will look up the TypeProfile table and become slower than Array[Byte] look up.

A workaround is extracting the internal buffer (array or off-heap) of B

[2018-11-24 12:37] travisbrown opened #119 "Inconsistencies in parsing failure location reporting"
Just making a note of this so I don't forget about it.

Given some invalid JSON like this:
[code]
Different Jawn parser implementations give three different locations for the failure:
[code]
The async parser is the only correct one.

[2018-11-27 19:21] SethTisue opened #120 "publish for Scala 2.13.0-M5, please?"
this is blocking circe at https://github.com/circe/circe/pull/1015

[2018-11-28 18:19] travisbrown opened #121 "Leading whitespace can result in stack overflows"
For example, on my machine:
[code]
Unfortunately `Parser#parser(i: Int)` can't be `@tailrec`-ed, but it's pretty straightforward to pull out the whitespace consumption.

[2018-12-03 11:19] travisbrown opened #122 "Invalid Unicode escapes are accepted"
I just ran Jawn 0.13.0 through the [Parsing JSON is a Minefield](http://seriot.ch/json/parsing.html) tests, and the one failure is for `n_string_invalid_unicode_escape.json`, where `["\uqqqq"]` is accepted even though it should not be:

[code]

[2018-12-04 10:07] travisbrown opened #123 "Interpolation isn't actually interpolated in error messages"
There are a couple of `$x`s that are just `$x`s:
[code]

[2018-12-04 12:32] travisbrown opened #124 "Error messages for literal booleans and null are kind of useless"
For example:
[code]

[2018-12-04 19:59] travisbrown commented on #122
To make this a little goofier:
[code]
…or more evil:
[code]

[2018-12-05 23:15] SethTisue commented on #120
does anyone else publishing rights in this repo, or only @non?

[2018-12-06 15:24] SethTisue commented on #120
I see there's already a PR at https://github.com/non/jawn/pull/117

[2018-12-12 16:21] travisbrown opened #126 "Move to Typelevel?"
The lack of a 2.13.0-M5 release for jawn-parser has been blocking a circe release for 2.13.0-M5 for over a month now, and @eed3si9n has [a working PR](https://github.com/non/jawn/pull/117) open that's two months old with no feedback from any Jawn maintainers (which as far as I know is just Erik?).

I asked [on Gitter last month](https://gitter.im/non/jawn?at=5be956766b9822140d19f974) about things

[2018-12-12 20:07] non commented on #126
Hey this is a good plan. I'm in favor 👍

[2018-12-12 20:07] non commented on #126
I'm traveling for work but I'll try to message other people privately about sharing maintainership.

[2018-12-12 20:12] eed3si9n commented on #126
You know you created something cool when this conversation happens :) Congrats Erik and thanks for Jawn.

[2018-12-12 21:03] dwijnand commented on #126
If you change the groupId, could you make sure to change the package name too, please?

[2018-12-13 07:37] larsrh commented on #126
With @non being in favour, I think we can open the corresponding issue for Typelevel membership in typelevel/general. As far as I can tell, all requirements are satisfied.

[2018-12-14 08:11] larsrh commented on #126
Membership approved. We can go forward with this.

@non, I'd appreciate if you could transfer this repository to the Typelevel organization.

[2018-12-16 17:59] non commented on #126
Just moved the repo to `typelevel/jawn`. I'm in the process of updating the README, etc.

[2018-12-16 18:05] non commented on #126
Alright at this point I've merged https://github.com/typelevel/jawn/pull/128 and moved the repo. I've message some folks privately about being additional maintainers. Once I hear back from at least a few of them I'll update the repo permissions, at which point I will stop being a single-point of failure (I hope).

[2018-12-16 18:16] non commented on #126
(Also, apologies for the delay. My flight back from SF was severely delayed and I got stranded in Charlotte, and only got back yesterday.)

[2018-12-16 18:58] non commented on #126
Alright, I've added 3 new maintainers (thanks to @rossabaker, @travisbrown, and @dwijnand) and updated the README. This will be the last time I push directly to `master`.

I'm going to go ahead and close this issue now. Thanks again @travisbrown for suggesting this long-overdue step.

[2018-12-16 18:58] #126 closed

[2018-12-16 18:59] #123 closed

[2018-12-16 21:45] eed3si9n commented on #120
https://github.com/typelevel/jawn/pull/117 is merged now.

[2018-12-17 04:03] non commented on #124
I think this should be fixed by #129.

[2018-12-17 14:14] #122 closed

[2018-12-17 14:14] #124 closed

[2018-12-17 14:15] non commented on #121
Fixed by #135

[2018-12-17 14:15] #121 closed

[2018-12-17 14:16] non commented on #119
I accidentally linked this ticket to #135 but it's still open.

[2018-12-17 18:08] travisbrown commented on #120
What do people think about publishing an 0.14.0 after #137 lands?

[2018-12-17 18:09] eed3si9n commented on #120
@travisbrown Sounds good to me.

[2018-12-17 19:33] non commented on #120
👍

[2018-12-17 19:38] #119 closed

[2018-12-17 19:39] non commented on #120
Just merged #137 which I think handles all the major issues we know about, so it seems like a good time for a release.

If one of the new maintainers wants to try that could be good. Otherwise I'll take a crack at it after work tonight.

[2018-12-17 19:43] travisbrown commented on #120
Thanks, @non! I can take the release—I'll be able to get to it in an hour or two.

[2018-12-17 21:46] non commented on #120
@travisbrown Go for it!

[2018-12-17 21:47] travisbrown commented on #120
It's done! https://github.com/typelevel/jawn/releases/tag/v0.14.0

[2018-12-17 21:47] #120 closed

[2018-12-18 02:58] xuwei-k commented on #94
https://repo1.maven.org/maven2/org/typelevel/jawn-play_2.11/0.14.0/jawn-play_2.11-0.14.0.pom

[2018-12-18 09:51] #94 closed

[2019-01-03 21:08] SethTisue commented on #120
* https://repo1.maven.org/maven2/org/typelevel/jawn-parser_2.13.0-M5/0.14.0/
* scala/make-release-notes@019020f2d7948598b8fbfe820a533291ecb7d2b6

[2019-01-04 12:04] travisbrown opened #142 "Invalid quotation mark in error message"
In [this circe issue](https://github.com/circe/circe/issues/1046) @bergmark noticed that the parse failure message has an unnecessary quotation mark. I've not looked in detail yet but it's a Jawn issue and seems to be because of #129.

[code]

[2019-01-04 12:09] travisbrown opened #143 "Async parsing accepts weird stuff"
Noted by @BenFradet [here](https://github.com/circe/circe-fs2/pull/47). Might be #135?

[code]
In 0.13.0 you get an error:
[code]
(Both 0.13.0 and 0.14.0 fail with the same error on `finish`.)

[2019-01-05 11:50] #143 closed

[2019-01-05 12:23] travisbrown opened #147 "Fix the current version badge"
It's currently still showing 0.13.0, since it points to the Scaladex page for `non/jawn`. I don't have any idea how Scaladex works (or doesn't—going to `https://index.scala-lang.org/typelevel/jawn/` redirects to some `jawn-argonaut` specific page?), but we should probably fix this.

[2019-01-06 10:36] #142 closed

[2019-01-30 21:31] #147 closed

[2019-04-20 23:24] xuwei-k opened #160 "publish for Scala 2.13.0-RC1"

[2019-04-24 00:39] SethTisue commented on #160
blocked by claimant, which is blocked by cats

[2019-04-24 09:48] travisbrown commented on #160
@d6 Would you be willing to remove `CatsClaimTest` in Claimant? I'd like to use Claimant in e.g. circe, but having yet another Cats dependency to wait on doesn't seem ideal, especially since there's a lot of overlap with `ClaimTest` here and I'm not sure the Cats dep adds anything.

[2019-04-27 03:44] rossabaker opened #162 "Pruning of support modules"
To simplify our build, I propose that we drop two integrations:

* argonaut: maintained as an argonaut module, so ours is redundant

* rojoma: as yet unpublished for Scala 2.13, making the build more complex.  I'm not aware that it's widely used enough to merit the workarounds.  Not hard to revive if it publishes for 2.13 and people complain.

[2019-04-27 09:15] travisbrown opened #163 "Fix flaky integer parsing test"
`ParseLongCheck`'s `"safe parser fails on invalid input"` property occasionally fails because it expects Jawn's `parseLong` to match Java's `Long` parsing, but Java's accepts e.g. Tibetan numerals, where Jawn's does not (as the JSON spec requires):

[code]

This caused a failure in #161. It's clearly only a problem with the test, so I'm just restarting that build, but eventually we'll want to fix

[2019-04-27 09:39] travisbrown commented on #160
Done: https://github.com/typelevel/jawn/releases/tag/v0.14.2

[2019-04-27 09:39] #160 closed

[2019-04-27 19:42] non commented on #162
Agreed on both counts.

[2019-04-28 02:59] #162 closed

[2019-05-10 22:22] #163 closed

[2019-10-06 12:08] #91 closed

[2019-10-06 12:10] larsrh opened #193 "Stabilize jawn (1.0.0)"
I think it's time for Jawn to graduate to 1.0.0.

The only pressing issue I see before that can happen is scala.js support (#38), but apart from that, there's not much activity that demands staying in the 0.x series.

Thoughts?

[2019-10-06 12:27] travisbrown commented on #193
I had at least a couple of things in mind that I'd like to propose before 1.0.0. I can try to dig them up this week.

[2019-10-06 19:53] larsrh commented on #193
I've created a milestone to track this goal.

[2019-10-19 16:09] larsrh commented on #193
Anything else we need?

[2019-10-20 22:06] non commented on #193
I'm not sure if anyone uses the Jawn AST -- I could imagine cleaning that up a bit (given it's about 6 years old I'd do some things differently now). Not sure that's a high priority though.

[2019-10-21 17:12] plokhotnyuk commented on #193
@non If you will decide to keep the Jawn AST then, please, make sure that it does not instantiate Scala's `HashMap`/`HasSet` directly (or indirectly through Scala collection calls like: `toMap`, `keys`, etc.): https://github.com/scala/bug/issues/11203

[2019-10-22 09:26] travisbrown commented on #193
I'd be happy to move forward with 1.0, but I think it'd be a good idea to publish a 1.0.0-RC1 first.

[2019-11-01 15:13] travisbrown commented on #193
@non @larsrh What do you think about publishing a 1.0.0-RC1? I could do it next week.

[2019-11-02 13:00] larsrh commented on #193
Good for me.

[2019-11-06 18:19] travisbrown commented on #193
Great! I'll do this tomorrow unless anyone speaks up.

[2019-11-07 09:43] julienrf commented on #193
You should be able to see that by looking at the sonatype stats, I believe.

Personally, I like having a small self-contained library that does parsing (to an AST) and pretty-printing.

[2019-11-07 10:04] travisbrown commented on #193
@julienrf I can only see the stats since the move to `org.typelevel`, but last month `jawn-ast_2.12` was downloaded 1,932 times vs. `jawn-parser_2.12`'s 142,170.

[2019-11-07 10:54] travisbrown opened #200 "Release 1.0.0-RC2 build with 1.8 target"
I didn't realise the build doesn't specify the target JDK and built 1.0.0-RC1 with OpenJDK 11, and I think we're running into the `ByteBuffer#position` issue. I'm headed into some meetings now but will specify the target in the build and publish a new release candidate when I'm out.

[2019-11-07 15:51] travisbrown commented on #200
Fixed in #201 and release is on its way to Maven Central.

[2019-11-07 15:51] #200 closed

[2019-11-11 13:24] travisbrown commented on #193
One thing that might be an issue is the fact that both play-json and json4s have new minor releases coming out soon-ish and it's not entirely clear to me what their bincompat guarantees are.

Worst case we'd have to split those support modules into their own separately-versioned repos, but we might want to do that before 1.0.0 anyway?

[2019-11-11 14:18] rossabaker commented on #193
I think splitting the support modules is the right thing to do.  A release of Downstream Library X should not churn Downstream Library Y, and a missing cross build for Downstream Library X should not block Downstream Library Y.

[2019-11-11 14:31] travisbrown commented on #193
@rossabaker Do you think we should do that before 1.0.0? If we publish e.g. jawn-play 1.0.0 and then play-json 2.8 comes out with breaking changes next month, it will immediately need a major version bump (which may be fine).

I don't use these support modules and don't have a strong opinion either way, except that I don't personally want to take on maintaining / publishing several new repos.

[2019-11-11 14:42] rossabaker commented on #193
I don't see any reason we can't defer splitting until they become problematic.

[2020-01-11 14:29] plokhotnyuk opened #220 "Denial of service when parsing JSON objects with keys that have the same hash codes using JawnFacade"
With [this](https://github.com/plokhotnyuk/jsoniter-scala/pull/424) PR you can reproduce DoS/DoW vulnerability of JawnFacade v1.0.0-RC1.

Please, clone jsoniter-scala repo, checkout the jawn-ast branch and run the following command:
[code]
And, you should get result like this:
[code]
So the 1Mb request is able to burn 4GHz CPU core for ~3 minutes...

[2020-01-11 15:43] #220 closed

[2020-01-13 14:19] travisbrown commented on #193
We've now published what I think might be our final release candidate: [1.0.0-RC3](https://github.com/typelevel/jawn/releases/tag/v1.0.0-RC3).

I've published milestone releases using this release candidate for several projects:

* [The Circe core modules](https://github.com/circe/circe/releases/tag/v0.13.0-M2) (including circe-jawn)
* [circe-iteratee](https://github.com/circe/circe-iteratee/relea

[2020-01-20 08:59] travisbrown commented on #193
It's done! https://github.com/typelevel/jawn/releases/tag/v1.0.0

[2020-01-20 08:59] #193 closed

[2020-05-14 17:58] johnynek opened #255 "use the faster ryu code for converting double to string"
https://github.com/ulfjack/ryu

[2020-05-14 18:18] plokhotnyuk commented on #255
[Here](https://github.com/plokhotnyuk/jsoniter-scala/blob/66abffa274e36284e09856835563459d7d70d19f/jsoniter-scala-core/jvm/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonWriter.scala#L1777-L2254) is an efficient port of this algorithm to Scala.

Feel free to pick and adopt it in your codebase.

[2020-05-14 18:47] johnynek commented on #255
PS: I copied the java from ryu into my codebase that was writing CSVs (several GBs worth) and the whole end-to-end time got 2x faster, so even in a real system doing other real work, the win is very significant.

[2020-05-14 20:05] rossabaker commented on #255
Do we do a lot of `Double => String` in this project?  I think this is a wonderful idea, but more applicable on the rendering side, which mostly happens in the downstream libraries.  We might get the most benefit implementing this in circe.

That said, it could speed up [rendering in jawn-ast](https://github.com/typelevel/jawn/blob/c7e3b975e5420d0bd91ec90f0c5d3319a59f0afc/ast/src/main/scala/jawn/a

[2020-05-14 20:46] johnynek commented on #255
I was thinking of rendering in jawn-ast, I don't know if circe uses that code, but I thought it might. If not, we'd have to do it in both places.

[2020-05-14 21:00] rossabaker commented on #255
It looks like jar distribution is stuck (https://github.com/ulfjack/ryu/issues/93).  It would make this a lot easier for both projects if they could just add a one-liner to the build and a one-liner to the source.

Yes, I realize I'm talking to Scala's foremost advocate of source dependencies. :smile:

[2020-05-14 21:02] plokhotnyuk commented on #255
Have you considered an option to do it in JDK immediately?

[2020-05-14 22:56] johnynek commented on #255
I think we should just copy the code. That’s what I did.

[2020-05-14 22:59] johnynek commented on #255
PS: yes it would be good if someone could send this as a PR to the JDK but that would still take years to get deployed and also not help scalajs or native.

[2020-05-15 03:11] plokhotnyuk commented on #255
Scala.js will not change it's implementation of 'toString', and moreover currently it is impossible to make it run on par with JS implementation.

Scala Native already use Ryu, but it just a copy of the original Java version from the author of algorithm which is slower than current JDK's `toString` for whole numbers and numbers with a short mantissa.

[2020-05-26 00:20] plokhotnyuk commented on #255
More efficient the Schubfach algorithm is coming to OpenJDK 15 and probably will be ported back to JDK 11. It works almost as Ryū but without rounding loops which affects the speed of serialization for numbers with a short decimal mantissa in latter. Results with the current path quite promising: https://github.com/plokhotnyuk/jsoniter-scala/pull/531

[2020-05-30 20:42] plokhotnyuk commented on #255
JFYK, the Schubfach way to render doubles (and floats) have been adopted by jsoniter-scala and is available since the [v2.2.5 release](https://github.com/plokhotnyuk/jsoniter-scala/releases/tag/v2.2.5).

Ironically the most speed up got the Scala.JS version of the library.

[2020-07-06 16:51] djrenren opened #267 "Support source locations"
It would be really helpful if there was a way to extract source locations (for example byte offset and length) through either the AST or even just the Facade interface. That way any downstream validation of the JSON can report accurate error locations.

[2020-07-07 19:47] rossabaker commented on #267
There may be tension here between enabling that and being as fast as possible, but it's a nice idea if the implementation performs.

[2020-07-07 21:36] djrenren commented on #267
Hmm so actually, looking over the definitions for Facade, there's already support for locations (well, indices but close enough) at the start of the token. I imagine that supplying the index at the end wouldn't really hurt performance since it's sitting around anyway.

[2020-07-08 03:45] rossabaker commented on #267
Breaking changes are painful, now that a few JSON libraries are using jawn as their internal parser.  But I'd be interested in an API proposal that preserved compatibility for this.

[2020-07-08 07:21] travisbrown commented on #267
As a side note, I've been intending to add support for character offsets in failure to Circe for years, but it hasn't been a priority for me because in general I've found path-style locations (which have always been supported) more useful. I'd be happy to review an implementation, or to work on it myself if someone wanted to pay for it.

[2020-07-08 18:02] djrenren commented on #267
@rossabaker I've managed to build my own parser that extracts source spans by extending CharBasedParser and implementing a Facade that recorded indices. It was actually not too difficult so major props on the design of this library! :D

The only thing I wasn't able to do was get precise string lengths due to string escaping shenanigans. In `jnum` we can trust the `CharSequence` length to be the sa

[2020-07-08 18:38] rossabaker commented on #267
I would expect that to be compatible now that 2.11 support is dropped.  We'll see what MiMa says, but that approach sounds reasonable to me.

[2020-07-28 20:44] larsrh opened #271 "Fix dottydoc build for support modules"
I tried releasing a new Jawn version cross-built against Scala 2.x and Dotty. Unfortunately, the doc build fails for the support modules. (For now, I've back-released Jawn 1.0.0 without the support modules.)

So far this wasn't caught because publishing the doc artifacts is disabled for Dotty:

[code]

Ideally, we should figure this out before the next release.

[2020-07-28 20:54] larsrh commented on #271
@djspiewak suggests the following alternative workaround:

[code]

[2020-10-17 09:16] larsrh commented on #271
Fixed in 02e71c99876e9db55b40a088b2345b111e1353fa

[2020-10-17 09:16] #271 closed

[2020-11-24 20:14] #267 closed

[2020-12-10 16:06] #34 closed

[2021-01-31 02:22] rossabaker opened #312 "Remove withDottyCompat"
This causes problems downstream once the integrations do get a Dotty release.

[2021-02-18 17:08] #312 closed

[2021-07-07 20:09] djspiewak opened #353 "Intermittently failing AstTest?"
[code]

[2021-07-07 20:42] #353 closed

[2021-07-08 06:21] armanbilge commented on #38
Implemented in #351.

[2021-07-08 23:03] #38 closed

[2021-12-10 02:59] kag0 opened #387 "What's killing jawn? "expected whitespace or eof""
This is quite odd. I'm in the process of [adding my json library to the benchmarks at jsoniter-scala](https://github.com/plokhotnyuk/jsoniter-scala/pull/817). This one object is causing jawn to fail parsing https://github.com/plokhotnyuk/jsoniter-scala/runs/4474990862?check_suite_focus=true#step:8:4849

However that same json string parses fine with both my library and jawn-ast outside of that spe

[2021-12-10 23:24] kag0 commented on #387
neevermind, my fault, naturally. I was recursively parsing when the payload had numbers serialized as json strings and poor exception messaging around it

[2021-12-10 23:24] #387 closed

[2022-01-05 20:02] rossabaker opened #399 "Automate the releases from CI"
Doing a local release now and :star:, don't want to do again.

[2022-01-05 20:31] rossabaker commented on #399
For example, I released from a branch after publishing a CVE.

[2022-01-17 22:03] armanbilge commented on #399
Done as of https://github.com/typelevel/jawn/pull/402.

[2022-01-17 22:50] #399 closed

[2022-07-05 19:09] armanbilge opened #466 "Release v1.4.0 please :)"
Sorry, just trying to propagate that Native/Scala 3 artifact 😅

[2022-07-05 19:10] armanbilge commented on #466
Actually the Scala 3.1.3 upgrade fixes an annoying Scala.js issue as well.

[2022-07-05 19:12] rossabaker commented on #466
#438 is in flight and still broken, but we won't run out of numbers...

[2022-07-05 19:18] rossabaker commented on #466
Releasing.

[2022-07-05 19:18] #466 closed

[2022-07-05 19:18] armanbilge commented on #466
Oh, I missed the new activity there. I love a good bincompat puzzler, let me poke my nose in.